#tech {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icon_tech {
  width: 50px;
  height: 80px;
}

#react_icon {
  width: 60px;
  height: 60px;
}

#express_icon {
  width: 60px;
  height: 60px;
}

#psql_icon {
  width: 60px;
  height: 60px;
}

#seq_icon {
  width: 60px;
  height: 60px;
}

#node_icon {
  width: 60px;
  height: 60px;
}

#redux_icon {
  width: 60px;
  height: 60px;
}

#react_icon:hover {
  transform: translateY(-7px);
  transition: all 0.05s linear;
}

#express_icon:hover {
  transform: translateY(-7px);
  transition: all 0.05s linear;
}

#redux_icon:hover {
  transform: translateY(-7px);
  transition: all 0.05s linear;
}

#seq_icon:hover {
  transform: translateY(-7px);
  transition: all 0.05s linear;
}

#node_icon:hover {
  transform: translateY(-7px);
  transition: all 0.05s linear;
}

#psql_icon:hover {
  transform: translateY(-7px);
  transition: all 0.05s linear;
}